@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.wrap-Hero {
    background: linear-gradient(150deg,rgba(27,27,27,.7),rgba(27,27,27,.7)), url(/Banner.jpg) no-repeat 100%;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 62%, 0% 100%);
}